<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="STDOUT"
    class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>
        %d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
     </pattern>
    </encoder>
  </appender>

  	<logger name="com.newmainsoftech.spray.slingong" level="DEBUG" />
<!-- 
  	<logger name="com.newmainsoftech.aspectjutil.eventmanager" level="DEBUG" />
	<logger name="org.springframework.transaction" level="DEBUG" />
 -->
	<logger name="org.springframework" level="INFO" />
		
  <!-- the default level of the root level is DEBUG. -->
  <root level="${logback-root-level:-INFO}">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>